# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv
.env
.env*

# Docker
docker-compose*.yml
Dockerfile*
.dockerignore

# CircleCI
.circleci

# Tout autre .env dans sous-dossiers
**/.env
